{{!-- <section class="vh-100 bg-image" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp')
  ">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">

            <div class="row justify-content-center mt-5">

                <h1 class="mt-5">{{blog.blog_name}}</h1>
                <p class="my-3 text-dark display-5">{{blog.description}}</p>
                <h6>Last updated at {{blog.updated_date}}</h6>
            </div>
        </div>

    </section>
</section> --}}

<section class="bg-image" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp')
  ">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">

            <div class="row justify-content-center mt-5">
                <div class="col-12">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h1 class="mt-5">{{blog.blog_name}}</h1>
                            <p class="my-3 display-5">{{blog.description}}</p>
                            <h6>Last updated at {{blog.updated_date}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>